*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

section{
    height: 100vh;
    width: 100%;
}

#page1{
    background-color: #DDB6E2;
}
#page2{
    background-color: #6D3130;
}
#page3{
    background-color: #CF9F5D;
}

.image-container{
    height: 100%;
    width: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}